.main__chatbody {
    flex-grow: 1;
    background-color: #000;
    border-radius: 10px;
    padding: 10px;
    display: flex;
  }
  @media screen and (max-width: 600px) {
    .main__chatbody {
      padding: 0;
    }
  }